/*== Tags ==*/

* {
    cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAAAABgAAAAwAAAAMAAAAGAAAARgAAAGwAAAB8AAAAf4AAAH8AAAB+AAAAfAAAAHgAAABwAAAAYAAAAEAAAAAAAAAAAAAAAAAAAA/////////////////////////////////////////////////////////////////+f////D////w////4f///eH///zD///8Q////Af///wAf//8AP///AH///wD///8B////A////wf///8P////H////z////9/////////8='), default;
}

body {
    background-color: slategray;
    max-width: 50em;
    margin: auto; 
    height: 100vh;
    width: 100vh;
}

address {
    text-align: right;
    color:indigo;
}

li {
	padding-top: 8px;
}

h2 {
	margin: 0;
}

p {
	margin-bottom: 0;
}

ul {
	margin-top: 0px;
	margin-bottom: 0;
}

pre {
	margin-top: 4px;
	margin-bottom: 4px;
}

/*== Classes ==*/

.side {
	display:flex;
	flex-direction:row;
	gap: 4rem;
}

.side2 {
	display:flex;
	flex-direction:row;
	gap: 1.5rem;
}


.pfp {
    float: right;
    text-align: center;
}

.list {
    padding-left: 15px;
    color:black;
}

.item {
    color:darkblue;
    text-decoration: none;
    cursor: pointer;
}

.placeholder {
    color:darkslateblue;
    text-decoration:line-through;
    cursor:not-allowed;
}

.htmlwip {
    list-style-image: url("assets/html2_new-0.png");
    text-decoration: none;
}

.iewipfolder {
    list-style-image: url("assets/directory_e_open-0.png");
    text-decoration: none;
}

.htmlfile {
    list-style-image: url("assets/html-1.png");  
}

/*== IDs ==*/

#smallpfp {
    width: 150px;
}
