@use '../../index'

footer
    @apply bordered-box w-full h-[100px] flex flex-row justify-center items-center gap-4

    #copyright
        @apply flex flex-col justify-center mr-auto flex-shrink-0

    #fl-header
        row-gap: 0 !important
        @apply flex flex-row justify-end h-[76px] items-end -mt-1 flex-wrap max-w-[480px] gap-2

        img
            width: 88px
            height: 31px
            cursor: inherit

        a
            @apply cursor-pointer
