#wallpaper
    background-image: url("/images/brice-cooper-6RnZryFr-fA-unsplash.jpg")
    background-size: cover
    background-attachment: fixed
    background-position: center
    @apply fixed -z-10 h-full w-full flex justify-center items-center
